body
{margin: 0;
    font-family: 'Pangolin', cursive;
}
h1{
    font-size: 50px;
    color: red;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    
}
.banner-section{
    width: 500 ;
    height:527 ;
}

.half-width img  {
    width : 100%;

}

.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color : white;
    font-weight:700;
}    

.banner-section{

background-image:url("images/header-bg.png");
height:500px;
padding-bottom: 150px;

}
h2{
    padding-top: 30%;
}
.second-banner-section{
background-image:url("images/biography-bg.png");
height:500px;
padding-bottom: 150px;
}


.ls{
  text-align: center;
  padding-top: 4%;
  font-size: larger;
}

.column1 {
    float: left;
    width: 20%;
    padding: 5px;
    margin-left: 150px;
  }

  .column2 {
    float: left;
    width: 20%;
    padding: 5px;
    margin-left: 110px;
    margin-right: 100px;

  }

  .column3 {
    float: right;
    width: 20%;
    padding: 10px;
    margin-right:200px;
  
 } 
.third-banner-section{
 background-image:url("images/latest-work-bg.png");
 height:300px;
 padding-bottom: 150px;
 }
 
.lastsection{
    background-image:url("footer-bg.png");
    width: 100%;
    height: 1000px;
    padding-bottom: 100px;
}
.fullheight{
    text-align: center;
    padding-top: 15%;
}

#ref{
    text-emphasis:bold;
    font-size: 200%;
}
#ref2{
    text-emphasis: bold;
    font-size: 150%;
}

.rectangle {
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 120px;
    width: 650px;
    margin-left: 28%;
    margin-bottom: 200px;
    margin-right: 26%;
    margin-top: 4%;
    background-color:rgb(238, 67, 67);
    text-overflow: inherit;
    text-align: center;
}

.lastline{
    text-align: center;
    font-size: 10 px;
    text color:black;
}


